.content-area-container {
  width: 70%;

  margin: 50px auto 0 auto;
  padding: 75px;

  box-sizing: border-box;

  background-color: #FFFFFF;
}

.content-area {
  min-height: 300px;

  outline: 1px solid #E8E8E8;
}


@media only screen and (max-width: 700px) {
  .content-area-container {
    width: 95%;

    margin: 15px auto 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  .content-area-container {
    padding: 15px;
  }
}