body {
  margin-top: 150px;
  margin-bottom: 50px;
}

.app {
  padding-top: 1px;
}

.menu {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  z-index: 8;

  background-color: #666666;
  box-shadow: 0 -2px 10px #C6C6C6;
}